@charset "UTF-8";
/*-----------------------------------
цвета
-----------------------------------*/
@import url(https://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css);
.light {
  font-family: 'HelveticaNeueCyr-Thin';
  text-transform: uppercase; }

.is-16-9 {
  padding-top: 56.25%; }

.is-2-1 {
  padding-top: 50%; }

.mt5 {
  margin-top: 5px; }

.mb5 {
  margin-bottom: 5px; }

.mr5 {
  margin-right: 5px; }

.ml5 {
  margin-left: 5px; }

.mt10 {
  margin-top: 10px; }

.mb10 {
  margin-bottom: 10px; }

.mr10 {
  margin-right: 10px; }

.ml10 {
  margin-left: 10px; }

.mt15 {
  margin-top: 15px; }

.mb15 {
  margin-bottom: 15px; }

.mr15 {
  margin-right: 15px; }

.ml15 {
  margin-left: 15px; }

.mt20 {
  margin-top: 20px; }

.mb20 {
  margin-bottom: 20px; }

.mr20 {
  margin-right: 20px; }

.ml20 {
  margin-left: 20px; }

.mt25 {
  margin-top: 25px; }

.mb25 {
  margin-bottom: 25px; }

.mr25 {
  margin-right: 25px; }

.ml25 {
  margin-left: 25px; }

.mt30 {
  margin-top: 30px; }

.mb30 {
  margin-bottom: 30px; }

.mr30 {
  margin-right: 30px; }

.ml30 {
  margin-left: 30px; }

.mt35 {
  margin-top: 35px; }

.mb35 {
  margin-bottom: 35px; }

.mr35 {
  margin-right: 35px; }

.ml35 {
  margin-left: 35px; }

.mt40 {
  margin-top: 40px; }

.mb40 {
  margin-bottom: 40px; }

.mr40 {
  margin-right: 40px; }

.ml40 {
  margin-left: 40px; }

.mt45 {
  margin-top: 45px; }

.mb45 {
  margin-bottom: 45px; }

.mr45 {
  margin-right: 45px; }

.ml45 {
  margin-left: 45px; }

.mt50 {
  margin-top: 50px; }

.mb50 {
  margin-bottom: 50px; }

.mr50 {
  margin-right: 50px; }

.ml50 {
  margin-left: 50px; }

.mt55 {
  margin-top: 55px; }

.mb55 {
  margin-bottom: 55px; }

.mr55 {
  margin-right: 55px; }

.ml55 {
  margin-left: 55px; }

.mt60 {
  margin-top: 60px; }

.mb60 {
  margin-bottom: 60px; }

.mr60 {
  margin-right: 60px; }

.ml60 {
  margin-left: 60px; }

.mt65 {
  margin-top: 65px; }

.mb65 {
  margin-bottom: 65px; }

.mr65 {
  margin-right: 65px; }

.ml65 {
  margin-left: 65px; }

.mt70 {
  margin-top: 70px; }

.mb70 {
  margin-bottom: 70px; }

.mr70 {
  margin-right: 70px; }

.ml70 {
  margin-left: 70px; }

.mt75 {
  margin-top: 75px; }

.mb75 {
  margin-bottom: 75px; }

.mr75 {
  margin-right: 75px; }

.ml75 {
  margin-left: 75px; }

.mt80 {
  margin-top: 80px; }

.mb80 {
  margin-bottom: 80px; }

.mr80 {
  margin-right: 80px; }

.ml80 {
  margin-left: 80px; }

.mt85 {
  margin-top: 85px; }

.mb85 {
  margin-bottom: 85px; }

.mr85 {
  margin-right: 85px; }

.ml85 {
  margin-left: 85px; }

.mt90 {
  margin-top: 90px; }

.mb90 {
  margin-bottom: 90px; }

.mr90 {
  margin-right: 90px; }

.ml90 {
  margin-left: 90px; }

.mt95 {
  margin-top: 95px; }

.mb95 {
  margin-bottom: 95px; }

.mr95 {
  margin-right: 95px; }

.ml95 {
  margin-left: 95px; }

.mt100 {
  margin-top: 100px; }

.mb100 {
  margin-bottom: 100px; }

.mr100 {
  margin-right: 100px; }

.ml100 {
  margin-left: 100px; }

@font-face {
  font-family: 'HelveticaNeueCyr-Black';
  src: local("HelveticaNeueCyr-Black"), url("http://nomail.com.ua/files/woff/75fd0b9090247882c700e34fa8ed9c3e.woff") format("woff"); }
@font-face {
  font-family: 'HelveticaNeueCyr-Thin';
  src: local("HelveticaNeueCyr-Thin"), url("http://nomail.com.ua/files/woff/3036ae86f3e196e33d3be155da20f495.woff") format("woff"); }
@font-face {
  font-family: 'HelveticaNeueCyr-Roman';
  src: local("HelveticaNeueCyr-Roman"), url("http://nomail.com.ua/files/woff/cd2355028bca504c63a432c086eceb52.woff") format("woff"); }
html, body {
  margin: 0;
  padding: 0;
  font-size: 1px;
  height: 100%;
  min-height: 100%;
  background: #f5f6f6; }

header {
  position: absolute;
  width: 100%;
  min-height: 65px;
  z-index: 1;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.65) 0%, transparent 100%);
  box-sizing: border-box;
  padding: 25px 0; }
  header .logo {
    display: block;
    text-decoration: none;
    color: white;
    font-family: 'HelveticaNeueCyr-Black';
    font-size: 25px;
    text-transform: uppercase; }
  @media (max-width: 40em) {
    header .btns [for="btnChecker"] i {
      font-size: 30px;
      color: white; }
    header .btns #btnChecker:checked + * {
      display: block; }
    header .btns .wr {
      display: none;
      position: absolute;
      background: rgba(0, 0, 0, 0.5);
      padding: 15px; }
      header .btns .wr a {
        margin-bottom: 10px; } }
  header .btns a {
    color: white;
    font-size: 14px;
    display: inline-block;
    margin-left: 10px; }
    header .btns a.search i {
      font-size: 23px;
      vertical-align: middle; }
      header .btns a.search i:hover {
        color: #0aaee4; }
    header .btns a.btn {
      font-family: 'HelveticaNeueCyr-Roman';
      padding: 5px 23px;
      border-radius: 3px; }
      header .btns a.btn:hover, header .btns a.btn.active {
        background-color: #0aaee4; }

#big-slider {
  position: relative; }
  #big-slider .slider {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 14px;
    color: white; }
    #big-slider .slider li {
      min-height: 50vw;
      position: relative;
      display: flex;
      align-items: center;
      background: no-repeat center / cover;
      padding: 20px 0 50px 0;
      box-sizing: border-box; }
      @media (max-width: 40em) {
        #big-slider .slider li {
          padding-top: 100px; } }
      #big-slider .slider li .for-title {
        font-family: 'HelveticaNeueCyr-Black';
        font-size: 30px;
        font-weight: 700;
        text-transform: uppercase; }
      #big-slider .slider li .categ {
        margin-top: 15px;
        font-family: 'HelveticaNeueCyr-Roman';
        font-size: 12px;
        font-weight: 400; }
        #big-slider .slider li .categ span {
          display: inline-block;
          margin-right: 15px; }
      #big-slider .slider li .rate {
        margin-top: 15px; }
        #big-slider .slider li .rate i {
          vertical-align: middle;
          color: #0aaee4;
          width: 20px; }
        #big-slider .slider li .rate span {
          font-family: HelveticaNeueCyr-Roman;
          display: inline-block;
          padding: 1px 8px;
          border: 2px solid #0aaee4;
          border-radius: 3px;
          font-size: 11px;
          margin-left: 15px; }
      #big-slider .slider li .descr {
        margin: 30px 0;
        font-family: 'HelveticaNeueCyr-Roman';
        font-size: 16px;
        font-weight: 400;
        line-height: 24px; }
      #big-slider .slider li .btns {
        position: relative; }
        @media (max-width: 40em) {
          #big-slider .slider li .btns {
            display: flex;
            flex-direction: column;
            align-items: flex-start; }
            #big-slider .slider li .btns a {
              margin-bottom: 10px; } }
        #big-slider .slider li .btns a {
          color: white;
          display: inline-block;
          margin-right: 20px;
          font-family: 'HelveticaNeueCyr-Roman';
          font-size: 14px;
          font-weight: 400; }
          #big-slider .slider li .btns a:hover {
            color: #0aaee4; }
        #big-slider .slider li .btns .btn {
          padding: 3px 10px;
          border: 1px solid white;
          border-radius: 3px; }
          #big-slider .slider li .btns .btn:hover, #big-slider .slider li .btns .btn.active {
            background-color: #0aaee4;
            border-color: #0aaee4;
            color: white; }
        #big-slider .slider li .btns .more i {
          vertical-align: middle; }
  #big-slider .forDots {
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center; }
    #big-slider .forDots > ul {
      display: inline-flex; }
      #big-slider .forDots > ul li {
        font-size: 0;
        line-height: 0;
        width: 15px;
        height: 5px;
        background: #b8bbbd;
        border-radius: 3px;
        margin: 0 5px; }
        #big-slider .forDots > ul li.slick-active {
          background: #0aaee4; }

#trending {
  position: relative; }
  #trending .cat-grid {
    position: relative; }
    #trending .cat-grid:before {
      content: '';
      display: block;
      width: calc(100% - 20rem);
      position: absolute;
      bottom: 0;
      left: 0;
      margin: 0 10rem;
      height: 1px;
      background: #e0e1e2; }
    #trending .cat-grid > .cat a {
      display: inline-block;
      font-family: 'HelveticaNeueCyr-Roman';
      font-size: 14px;
      margin-right: 25px;
      padding-bottom: 9px;
      border-bottom: 4px solid transparent; }
      #trending .cat-grid > .cat a i {
        vertical-align: middle;
        font-size: 16px; }
      #trending .cat-grid > .cat a:hover, #trending .cat-grid > .cat a.active {
        border-color: #0aaee4; }
    #trending .cat-grid > .grid a {
      color: #e0e1e2; }
      #trending .cat-grid > .grid a:hover, #trending .cat-grid > .grid a.active {
        color: #0aaee4; }
  #trending ul.film-list {
    list-style: none;
    position: relative;
    font-size: 14px; }
    #trending ul.film-list > li {
      position: relative;
      margin-bottom: 20rem; }
      #trending ul.film-list > li:hover > .wr > .photo > .info {
        display: flex; }
      #trending ul.film-list > li > .wr {
        position: relative; }
        #trending ul.film-list > li > .wr > .photo {
          position: relative;
          padding-top: 75%;
          background: no-repeat top center / cover;
          border-radius: 5px 5px 0 0;
          overflow: hidden; }
          #trending ul.film-list > li > .wr > .photo > .info {
            display: none;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.4);
            flex-direction: column;
            justify-content: center;
            align-items: center;
            color: white; }
            #trending ul.film-list > li > .wr > .photo > .info > .btn1 {
              position: relative;
              display: inline-block; }
              #trending ul.film-list > li > .wr > .photo > .info > .btn1:before {
                content: '';
                display: block;
                position: absolute;
                width: 20px;
                height: 30px;
                background: white;
                left: calc(50% - 10px);
                top: calc(50% - 15px); }
              #trending ul.film-list > li > .wr > .photo > .info > .btn1 i {
                position: relative;
                font-size: 60px; }
            #trending ul.film-list > li > .wr > .photo > .info > .note {
              font-family: 'HelveticaNeueCyr-Roman';
              font-size: 14px;
              font-weight: 400; }
            #trending ul.film-list > li > .wr > .photo > .info > .btn2 {
              color: white;
              display: inline-block;
              padding: 3px 10px;
              border: 1px solid white;
              border-radius: 3px;
              font-family: 'HelveticaNeueCyr-Roman';
              font-size: 14px;
              font-weight: 400;
              margin-top: 20px; }
              #trending ul.film-list > li > .wr > .photo > .info > .btn2:hover, #trending ul.film-list > li > .wr > .photo > .info > .btn2.active {
                background: #0aaee4;
                border-color: #0aaee4; }
        #trending ul.film-list > li > .wr > .short-info {
          position: relative;
          background: white;
          padding: 20px; }
          #trending ul.film-list > li > .wr > .short-info > .row1 {
            position: relative;
            display: flex;
            align-items: flex-start;
            justify-content: space-between; }
            #trending ul.film-list > li > .wr > .short-info > .row1 > .title {
              display: block;
              color: #242b2d;
              font-family: 'HelveticaNeueCyr-Roman';
              font-size: 14px;
              font-weight: 700;
              text-transform: uppercase; }
              #trending ul.film-list > li > .wr > .short-info > .row1 > .title:hover {
                color: #0aaee4; }
            #trending ul.film-list > li > .wr > .short-info > .row1 > .rate {
              flex-shrink: 1;
              padding: 0 5px;
              font-size: 12px;
              color: #0aaee4;
              border: 1px solid #0aaee4;
              border-radius: 3px; }
          #trending ul.film-list > li > .wr > .short-info > .row2 {
            position: relative; }
            #trending ul.film-list > li > .wr > .short-info > .row2 span {
              display: inline-block;
              font-size: 12px;
              font-family: 'HelveticaNeueCyr-Roman';
              margin-right: 5px;
              color: #0aaee4; }
        #trending ul.film-list > li > .wr > .full-info {
          display: none;
          position: absolute;
          width: 100%;
          height: 100%;
          padding: 20px;
          top: 0;
          left: 0;
          background: no-repeat center / cover;
          border-radius: 3px; }
          #trending ul.film-list > li > .wr > .full-info:before {
            content: '';
            display: block;
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background: rgba(0, 0, 0, 0.6);
            border-radius: 3px; }
          #trending ul.film-list > li > .wr > .full-info > .row1 {
            position: relative;
            display: flex;
            justify-content: space-between;
            align-items: flex-start; }
            #trending ul.film-list > li > .wr > .full-info > .row1 > .col1 {
              flex-shrink: 1; }
              #trending ul.film-list > li > .wr > .full-info > .row1 > .col1 i {
                vertical-align: middle;
                color: white; }
                #trending ul.film-list > li > .wr > .full-info > .row1 > .col1 i:hover {
                  color: #0aaee4; }
            #trending ul.film-list > li > .wr > .full-info > .row1 > .col2 a {
              text-align: right;
              font-family: 'HelveticaNeueCyr-Roman';
              font-size: 14px;
              color: white;
              display: inline-block;
              margin-left: 5px; }
              #trending ul.film-list > li > .wr > .full-info > .row1 > .col2 a:hover {
                color: #0aaee4; }
              #trending ul.film-list > li > .wr > .full-info > .row1 > .col2 a > i {
                vertical-align: middle;
                font-size: 18px; }
          #trending ul.film-list > li > .wr > .full-info > .row2 {
            position: relative;
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            margin-top: 20px; }
            #trending ul.film-list > li > .wr > .full-info > .row2 .title {
              display: block;
              color: white;
              font-family: 'HelveticaNeueCyr-Roman';
              font-size: 14px;
              font-weight: 700;
              text-transform: uppercase; }
              #trending ul.film-list > li > .wr > .full-info > .row2 .title:hover {
                color: #0aaee4; }
            #trending ul.film-list > li > .wr > .full-info > .row2 .ganre {
              font-size: 12px;
              color: #0aaee4;
              font-family: 'HelveticaNeueCyr-Roman'; }
            #trending ul.film-list > li > .wr > .full-info > .row2 > .rate {
              flex-shrink: 1;
              padding: 0 5px;
              font-size: 12px;
              color: #0aaee4;
              border: 1px solid #0aaee4;
              border-radius: 3px; }
          #trending ul.film-list > li > .wr > .full-info > .row3 {
            position: relative;
            font-family: 'HelveticaNeueCyr-Roman';
            font-size: 14px;
            color: white;
            line-height: 1.5;
            margin-top: 15px;
            max-height: 80px;
            overflow: hidden; }
          #trending ul.film-list > li > .wr > .full-info > .row4 {
            position: relative;
            margin-top: 20px; }
            #trending ul.film-list > li > .wr > .full-info > .row4 a {
              display: inline-block;
              padding: 3px 10px;
              font-family: 'HelveticaNeueCyr-Roman';
              font-size: 14px;
              color: white;
              border: 1px solid white;
              border-radius: 3px; }
              #trending ul.film-list > li > .wr > .full-info > .row4 a:hover, #trending ul.film-list > li > .wr > .full-info > .row4 a.active {
                background: #0aaee4;
                border-color: #0aaee4; }
  #trending .subscribe {
    position: relative;
    font-size: 14px; }
    #trending .subscribe .content {
      background: no-repeat center / cover;
      border-radius: 3px;
      padding: 63px 0; }
      #trending .subscribe .content .descr {
        color: white;
        font-family: 'HelveticaNeueCyr-Roman';
        font-size: 28px;
        font-weight: 300;
        line-height: 36px; }
      #trending .subscribe .content .btn {
        display: inline-block;
        color: white;
        padding: 5px 15px;
        font-size: 14px;
        border: 1px solid white;
        border-radius: 3px; }
        #trending .subscribe .content .btn:hover, #trending .subscribe .content .btn.active {
          background: #0aaee4;
          border-color: #0aaee4; }

.more-items {
  position: relative; }
  .more-items > .loader {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    position: relative;
    animation: loader10 1s ease alternate infinite;
    animation-delay: 0.4s;
    top: -10px; }
    .more-items > .loader::after, .more-items > .loader::before {
      content: '';
      position: absolute;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      animation: loader10 1s ease alternate infinite; }
    .more-items > .loader::before {
      left: -22px;
      animation-delay: 0.2s; }
    .more-items > .loader::after {
      right: -22px;
      animation-delay: 0.6s; }
@keyframes loader10 {
  0% {
    box-shadow: 0 10px 0 -10px #0aaee4; }
  100% {
    box-shadow: 0 10px 0 #0aaee4; } }
  .more-items > .text {
    color: #b8bbbd;
    font-family: 'HelveticaNeueCyr-Roman';
    font-size: 11px;
    font-weight: 500;
    text-transform: uppercase; }

footer {
  position: relative;
  background: white;
  padding: 25px 0;
  font-size: 14px; }
  footer .more-links a {
    display: inline-block;
    font-size: 12px;
    font-family: 'HelveticaNeueCyr-Roman';
    color: #b8bbbd;
    margin-right: 10px; }
    footer .more-links a:hover {
      color: #0aaee4; }
  footer .center .logo {
    color: #0aaee4;
    font-family: 'HelveticaNeueCyr-Black';
    font-size: 25px; }
  footer .center .copy {
    color: #b8bbbd;
    font-family: 'HelveticaNeueCyr-Roman';
    font-size: 12px; }
  footer .socials a {
    display: inline-block;
    margin-left: 10px;
    color: #b8bbbd; }
    footer .socials a:hover {
      color: #0aaee4; }
    footer .socials a i {
      vertical-align: middle;
      font-size: 24px; }

/*# sourceMappingURL=app.css.map */
