@charset "utf-8";
@import "variables" ,"settings", "../loaders-on-scss-master/loaders";
@import url(https://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css);

html, body{
  margin: 0;
  padding: 0;
  font-size: 1px;
  height: 100%;
  min-height: 100%;
  background:#f5f6f6;
}
header{
  position: absolute;
  width: 100%;
  min-height: 65px;
  z-index: 1;
  background: linear-gradient(to bottom, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
  box-sizing: border-box;
  padding: 25px 0;

  .logo{
    display: block;
    text-decoration: none;
    color: white;
    font-family: 'HelveticaNeueCyr-Black';
    font-size: 25px;
    text-transform: uppercase;
  }
  .btns{


    @media (max-width: 40em) {
      [for="btnChecker"]{
        i{
          font-size: 30px;
          color: white;
        }
      }
      #btnChecker:checked+*{
        display:block;
      }
      .wr{
        display: none;
        position: absolute;
        background: rgba(black, 0.5);
        padding: 15px;

        a{
          margin-bottom: 10px;
        }
      }
    }


    a{
      color: white;
      font-size: 14px;
      display: inline-block;
      margin-left: 10px;

      &.search{
        i{
          font-size: 23px;
          vertical-align: middle;
          
          &:hover{
            color: $blue;
          }
        }


      }
      &.btn{
        font-family: 'HelveticaNeueCyr-Roman';
        padding: 5px 23px;
        border-radius: 3px;

        &:hover, &.active{
          background-color: $blue;
        }
      }
    }
  }
}
#big-slider{
  position: relative;

  .slider{
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 14px;
    color: white;

    li{
      min-height: 50vw;
      position: relative;
      display: flex;
      align-items: center;
      background: no-repeat center / cover;
      padding: 20px 0 50px 0;
      box-sizing: border-box;

      @media (max-width: 40em) {
        padding-top: 100px;
      }

      .for-title{

        font-family: 'HelveticaNeueCyr-Black';
        font-size: 30px;
        font-weight: 700;
        text-transform: uppercase;
      }
      .categ{
        margin-top: 15px;
        font-family: 'HelveticaNeueCyr-Roman';
        font-size: 12px;
        font-weight: 400;

        span{
          display: inline-block;
          margin-right: 15px;
        }
      }
      .rate{
        margin-top: 15px;
        i{
          vertical-align: middle;
          color: $blue;
          width: 20px;
        }
        span{
          font-family: HelveticaNeueCyr-Roman;
          display: inline-block;
          padding: 1px 8px;
          border: 2px solid $blue;
          border-radius: 3px;
          font-size: 11px;
          margin-left: 15px;
        }
      }
      .descr{
        margin: 30px 0;
        font-family: 'HelveticaNeueCyr-Roman';
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
      }
      .btns{
        position: relative;

        @media (max-width: 40em) {
          display: flex;
          flex-direction: column;
          align-items: flex-start;

          a{
            margin-bottom: 10px;
          }
        }

        a{
          color: white;
          display: inline-block;
          margin-right: 20px;
          font-family: 'HelveticaNeueCyr-Roman';
          font-size: 14px;
          font-weight: 400;

          &:hover{
            color: $blue;
          }
        }
        .btn{
          padding: 3px 10px;
          border: 1px solid white;
          border-radius: 3px;
          
          &:hover, &.active{
            background-color: $blue;
            border-color: $blue;
            color: white;
          }
        }
        .more{
          i{
            vertical-align: middle;
          }
        }
      }
    }
  }
  .forDots{
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;


    &>ul{
      display: inline-flex;


      li{
        font-size: 0;
        line-height: 0;
        width: 15px;
        height: 5px;
        background: $gray;
        border-radius: 3px;
        margin: 0 5px;

        &.slick-active{
          background: $blue;
        }
      }

    }
  }
}
#trending{
  position: relative;

  .cat-grid{
    position: relative;

    &:before{
      content: '';
      display:block;
      width: calc(100% - 20rem);
      position: absolute;
      bottom: 0;
      left: 0;
      margin: 0 10rem;
      height: 1px;
      background: $gray_light;
    }

    &>.cat{
      a{
        display: inline-block;
        font-family: 'HelveticaNeueCyr-Roman';
        font-size: 14px;
        margin-right: 25px;
        padding-bottom: 9px;
        border-bottom: 4px solid transparent;

        i{
          vertical-align: middle;
          font-size: 16px;
        }

        &:hover, &.active{
          border-color: $blue;
        }
      }
    }
    &>.grid{
      a{
        color: $gray_light;

        &:hover, &.active{
          color: $blue;
        }
      }
    }

  }
  ul.film-list{
    list-style: none;
    position: relative;
    font-size: 14px;

    &>li{
      position: relative;
      margin-bottom: 20rem;

      &:hover{
        &>.wr>.photo>.info{
          display: flex;
        }
      }

      &>.wr{
        position: relative;

        &>.photo{
          position: relative;
          padding-top: percentage(3 / 4);
          background: no-repeat top center / cover;
          border-radius: 5px 5px 0 0;
          overflow: hidden;

          &>.info{
            display: none;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(black, 0.4);
            //display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            color: white;

            &>.btn1{
              position: relative;
              display: inline-block;

              &:before{
                content: '';
                display:block;
                position: absolute;
                width: 20px;
                height: 30px;
                background:white;
                left: calc(50% - 10px) ;
                top: calc(50% - 15px) ;
              }

              i{
                position: relative;
                font-size: 60px;
              }
            }
            &>.note{
              font-family: 'HelveticaNeueCyr-Roman';
              font-size: 14px;
              font-weight: 400;
            }
            &>.btn2{
              color: white;
              display: inline-block;
              padding: 3px 10px;
              border: 1px solid white;
              border-radius: 3px;
              font-family: 'HelveticaNeueCyr-Roman';
              font-size: 14px;
              font-weight: 400;
              margin-top: 20px;
              
              &:hover, &.active{
                background: $blue;
                border-color: $blue;
              }
            }

          }
        }
        &>.short-info{
          position: relative;
          background: white;
          padding: 20px;

          &>.row1{
            position: relative;
            display: flex;
            align-items: flex-start;
            justify-content: space-between;

            &>.title{
              display:block;
              color: $gray_dark ;
              font-family: 'HelveticaNeueCyr-Roman';
              font-size: 14px;
              font-weight: 700;
              text-transform: uppercase;

              &:hover{
                color: $blue;
              }
            }
            &>.rate{
              flex-shrink: 1;
              padding: 0 5px;
              font-size: 12px;
              color: $blue;
              border: 1px solid $blue;
              border-radius: 3px;

            }
          }
          &>.row2{
            position: relative;

            span{
              display: inline-block;
              font-size: 12px;
              font-family: 'HelveticaNeueCyr-Roman';
              margin-right: 5px;
              color: $blue;
            }
          }
        }
        &>.full-info{
          display: none;
          position: absolute;
          width: 100%;
          height: 100%;
          padding: 20px;
          top: 0;
          left: 0;
          background: no-repeat center / cover;
          border-radius: 3px;

          &:before{
            content: '';
            display:block;
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background: rgba(black, 0.6);
            border-radius: 3px;
          }
          &>.row1{
            position: relative;
            display: flex;
            justify-content: space-between;
            align-items: flex-start;

            &>.col1{
              flex-shrink: 1;

              i{
                vertical-align: middle;
                color: white;

                &:hover{
                  color: $blue;
                }
              }
            }
            &>.col2{
              a{
                text-align: right;
                font-family: 'HelveticaNeueCyr-Roman';
                font-size: 14px;
                color: white;
                display: inline-block;
                margin-left: 5px;

                &:hover{
                  color: $blue;
                }
                &>i{
                  vertical-align: middle;
                  font-size: 18px;
                }
              }



            }
          }
          &>.row2{
            position: relative;
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            margin-top: 20px;

            .title{
              display:block;
              color: white ;
              font-family: 'HelveticaNeueCyr-Roman';
              font-size: 14px;
              font-weight: 700;
              text-transform: uppercase;

              &:hover{
                color: $blue;
              }
            }
            .ganre{
              font-size: 12px;
              color: $blue;
              font-family: 'HelveticaNeueCyr-Roman';
            }
            &>.rate{
              flex-shrink: 1;
              padding: 0 5px;
              font-size: 12px;
              color: $blue;
              border: 1px solid $blue;
              border-radius: 3px;

            }
          }
          &>.row3{
            position: relative;
            font-family: 'HelveticaNeueCyr-Roman';
            font-size: 14px;
            color: white;
            line-height: 1.5;
            margin-top: 15px;
            max-height: 80px;
            overflow: hidden;
          }
          &>.row4{
            position: relative;
            margin-top: 20px;

            a{
              display: inline-block;
              padding: 3px 10px;
              font-family: 'HelveticaNeueCyr-Roman';
              font-size: 14px;
              color: white;
              border: 1px solid white;
              border-radius: 3px;

              &:hover, &.active{
                background: $blue;
                border-color: $blue;

              }
              
            }
          }
        }

      }

    }
  }
  .subscribe{
    position: relative;
    font-size: 14px;

    .content{
      background: no-repeat center / cover;
      border-radius: 3px;
      padding: 63px 0;

      .descr{
        color: white;
        font-family: 'HelveticaNeueCyr-Roman';
        font-size: 28px;
        font-weight: 300;
        line-height: 36px;
      }
      .btn{
        display: inline-block;
        color: white;
        padding: 5px 15px;
        font-size: 14px;
        border: 1px solid white;
        border-radius: 3px;
        
        &:hover, &.active{
          background: $blue;
          border-color: $blue;
        }

      }
    }
  }
}
.more-items{
  position: relative;

  &>.loader{
    display: inline-block;
    @include loader10(10px, $blue);
  }

  &>.text{
    color: darken($gray_light, 15%);
    font-family: 'HelveticaNeueCyr-Roman';
    font-size: 11px;
    font-weight: 500;
    text-transform: uppercase;
  }
}
footer{
  position: relative;
  background: white;
  padding: 25px 0;
  font-size: 14px;

  .more-links{
    a{
      display: inline-block;
      font-size: 12px;
      font-family: 'HelveticaNeueCyr-Roman';
      color: darken($gray_light, 15%);
      margin-right: 10px;


      &:hover{
        color: $blue;
      }
    }
  }
  .center{
    .logo{
      color: $blue;
      font-family: 'HelveticaNeueCyr-Black';
      font-size: 25px;
    }
    .copy{
      color: darken($gray_light, 15%);
      font-family: 'HelveticaNeueCyr-Roman';
      font-size: 12px;
    }
  }
  .socials{
    a{
      display: inline-block;
      margin-left: 10px;
      color: darken($gray_light, 15%);

      &:hover{
        color: $blue;
      }


      i{
        vertical-align: middle;
        font-size: 24px;
      }
    }
  }
}